.parking-lot {
  background-color: gray;

  h3 {
    margin: 0px;
    text-align: center;
    padding: 10px;
    color: yellow;
  }

  .lot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
  }
}

.car {
  height: 150px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.black {
    background-color: black;
    color: white;
  }

  &.silver {
    background-color: silver;
    color: black;
  }

  &.white {
    background-color: white;
    color: black;
  }

  &.red {
    background-color: maroon;
    color: white;
  }

  &.orange {
    background-color: darkorange;
    color: black;
  }

  &.yellow {
    background-color: yellow;
    color: black;
  }

  &.green {
    background-color: darkgreen;
    color: white;
  }

  &.blue {
    background-color: navy;
    color: white;
  }

  &.purple {
    background-color: rebeccapurple;
    color: white;
  }
}
