.parking-lot {
  background-color: gray;

  h3 {
    margin: 0px;
    text-align: center;
    padding: 10px;
    color: yellow;
  }

  .lot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
  }
}
