.container {
    margin: 10px;
}

.active {
    color: lightgray;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #d3d3d333;
  width: 100vw;
  padding: 20px 0px ;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;

  a {
    color: dodgerblue;
  }
}
